{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}
{% block content %}
<p>{% trans "Enter your new password below to reset your password:" %}</p>
<form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-actions">
        <input class="btn btn-primary" type='submit' value="Set password" />
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    </div>
</form>
<hr>
{% endblock %}
