{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block content %}
<h3>{% trans "Register" %}</h3>
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form|bootstrap }}
    </fieldset>
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{% trans "Register" %}" />
        <a class="btn btn-link" href='{% url 'auth_password_reset' %}'>{% trans "Forgot your password?" %}</a>
        <a class="btn btn-link" href="{% url 'auth_login' %}">{% trans "Login with your existing account" %}</a>
    </div>
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
{% endblock content %}
