{% extends "base.html" %}
{% load i18n %}
{% load endless %}

{% block content_title %}
<h3><i class="icon-folder-open"></i> {{ current_collection }}</h3>
{% endblock content_title %}

{% block sidebar %}
<h4>{% trans "Members" %}:</h4>
{% for member in current_collection.members.all %}
    <a href="{% url userena_profile_detail member.username %}" title="{{ member }}" rel="tooltip">
        <img src="{{ member.get_profile.get_mugshot_url }}" alt="{{ member }}">
    </a>
{% endfor %}
{% endblock sidebar %}

{% block inner_content %}
    {% with collection_sources as sources %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>{% trans "Source" %}</th>
                <th>{% trans "ISBN" %}</th>
                <td>{% trans "Authors" %}</td>
            </tr>
        </thead>
        <tbody>
            {% paginate sources %}
            {% for source in sources %}
            <tr>
                <td>
                    {% ifequal source current_source %}
                    {{ source }}
                    {% else %}
                    <a href="{{ source.get_absolute_url }}" title="{{ source }}">{{ source }}</a>
                    {% endifequal %}
                </td>
                <td>{{ source.isbn|default:"-" }}</td>
                <td>{% for author in source.authors.all %}{{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% show_pages %}
    <div class="form-actions">
        <a class="btn btn-primary" href="{% url source_add %}?next={{ current_collection.get_absolute_url }}"><i class="icon-plus-sign icon-large"></i> {% trans "New Source" %}</a>
        <a class="btn btn-success" href="{% url author_add %}?next={{ current_collection.get_absolute_url }}"><i class="icon-plus-sign icon-large"></i> {% trans "New Author" %}</a>
    </div>
    {% endwith %}
{% endblock inner_content %}
