{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<h2>{% trans "Change password" %}</h2>
<form class="form-horizontal" method='post' action=''>
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-actions">
        <input class="btn btn-primary" type='submit' value="Change password" />
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    </div>
</form>
<hr>
{% endblock %}
