{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% with current_author as author %}
<h4>{{ author }}</h4>
{% endwith %}

<ul class="unstyled">
{% for source in sources %}
    <li{% ifequal source current_source %} class="active"{% endifequal %}>
        <a href="{{ source.get_absolute_url }}">{{ source }}</a>
        {% ifequal source.user request.user %}
        <div class="pull-right">
            <a href="{% url source_edit slug=source.slug %}">
                <i class="icon-pencil"></i>
            </a>
            <a href="{% url source_delete slug=source.slug %}">
                <i class="icon-trash"></i>
            </a>
        </div>
        {% endifequal %}
    </li>
    {# {% if not forloop.last %}<hr>{% endif %} #}
{% endfor %}
</ul>
{% endblock content %}
