{% extends "base.html" %}
{% load i18n %}
{% load endless %}

{% block header_actions %}
<a class="btn btn-success" href="{% url topic_add %}"><i class="icon-plus-sign "></i> {% trans "New Topic" %}</a>
{% endblock header_actions %}

{% block content %}
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        {% paginate topics %}
        {% for topic in topics %}
            <tr>
                <td><a href="{{ topic.get_absolute_url }}">{{ topic }}</a></td>
                <td>
                    {% ifequal topic.user request.user %}
                    <div class="pull-right">
                        <a class="btn btn-link btn-small" href="{% url topic_edit slug=topic.slug %}">
                            <i class="icon-pencil"></i>
                        </a>
                        <a class="btn btn-link btn-small" href="{% url topic_delete slug=topic.slug %}">
                            <i class="icon-trash"></i>
                        </a>
                    </div>
                    {% endifequal %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% show_pages %}
{% endblock content %}
