{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content_title %}<h2>{% trans "Reset password" %}</h2><hr>{% endblock content_title %}

{% block content %}
<form action="" method="post" class="form-horizontal">
  <fieldset>
    {% csrf_token %}
    {{ form|bootstrap }}
  </fieldset>
  <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}" />
</div>
</form>
{% endblock content %}
