{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block inner_title %}
<h2>{% trans "Change Password" %}</h2>
{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}
<hr>
{% endblock %}

{% block inner_content %}
<form action="" method="post" id="password_change_form" class="form-horizontal">
  <fieldset>
    {% csrf_token %}
    {{ form|crispy }}
  </fieldset>
  <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="{% trans "Change password" %}" />
  </div>
</form>
{% endblock inner_content %}
