{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block inner_title %}<h2>{% trans "Reset password" %}</h2><hr>{% endblock inner_title %}

{% block inner_content %}
<form action="" method="post" class="form-horizontal">
  <fieldset>
    {% csrf_token %}
    {{ form|crispy }}
  </fieldset>
  <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="{% trans "Send instructions" %}" />
</div>
</form>
{% endblock inner_content %}
