{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load endless %}
{% load disqus_tags %}

{% block title %}{% blocktrans with user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block inner_title %}
<h2>{{ user.email }} {% if user.get_full_name %}({{ user.get_full_name }}){% endif %}</h2>
{% endblock %}

{% block content %}
    {% block profile_details %}
    <div class="row-fluid">
        <div class="span3">
            <div class="well">
                <div class="row-fluid" style="margin-top:20px;">
                    <div class="span2">
                        <img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
                    </div>
                    <div class="span10">
                        <h4>{{ profile.user.username }}</h4>
                    </div>
                </div>
                {% if profile.user.get_full_name %}
                    <strong>{{ profile.user.get_full_name }}</strong>
                {% endif %}
                {% if profile.user.email %}
                    <p>{{ profile.user.email }}</p>
                {% endif %}
                <h3>{% trans "Collections" %}</h3>
                <ul class="unstyled">
                {% for collection in profile.user.owned_collections.all %}
                    {% ifequal profile.user collection.user %}
                    <li>
                        <a href="{{ collection.get_absolute_url }}">{{ collection }}</a>
                        <div class="pull-right">
                            <a href="{% url collection_edit slug=collection.slug %}">
                                <i class="icon-pencil"></i>
                            </a>
                            <a href="{% url collection_delete slug=collection.slug %}">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    </li>
                    {% endifequal %}
                {% empty %}
                    {% trans "No collections" %}
                {% endfor %}
                </ul>
                <h3>{% trans "Other collections" %}</h3>
                <ul class="unstyled">
                {% for collection in profile.user.followed_collections.all %}
                    {% ifnotequal profile.user collection.user %}
                    <li>
                        <a href="{{ collection.get_absolute_url }}">{{ collection }}</a>
                        <div class="pull-right">
                            <a href="{% url collection_edit slug=collection.slug %}">
                                <i class="icon-pencil"></i>
                            </a>
                            <a href="{% url collection_delete slug=collection.slug %}">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    </li>
                    {% endifnotequal %}
                {% empty %}
                    {% trans "No collections" %}
                {% endfor %}
            </div>
            {# Disqus #}
            <h4>{% trans "Recent comments" %}</h4>
            {% disqus_recent_comments "qnotes" 5 50 0 24 %}
        </div>
        <div class="span9">
            {% if user == profile.user %}
                {% with user.quote_set.all as quotes %}
                    {% paginate 5 quotes %}
                    {% show_pages %}
                    {% for quote in quotes %}
                        {% include "quotes/quote_item.html" %}
                    {% empty %}
                        {% trans "No quotes" %}
                    {% endfor %}
                {% endwith %}
            {% else %}
                {% with profile.user.quote_set.all as quotes %}
                    {% paginate 5 quotes %}
                    {% show_pages %}
                    {% for quote in quotes %}
                        {% include "quotes/quote_item.html" %}
                    {% empty %}
                        {% trans "No quotes" %}
                    {% endfor %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% endblock content %}
