{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% trans "Edit profile" %}</h2>{% endblock %}

{% block content %}
<form class="form-horizontal" action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form|bootstrap }}
    </fieldset>
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{% trans "Save changes" %}" />
    </div>
</form>
{% endblock content %}
