{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}
<h2>{{ profile.user.email }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        {% block profile_details %}
            <div class="span1">
                <img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
            </div>
            <div class="span11">
                <table class="table table-bordereds table-condensed table-striped">
                    <thead>
                        <tr>
                            {% if profile.user.get_full_name %}<th>{% trans "Name" %}</th>{% endif %}
                            {% if profile.user.email %}<th>{% trans "Email" %}</th>{% endif %}
                            {% if profile.duty_tr %}<th>{% trans "Duty (Turkish)" %}</th>{% endif %}
                            {% if profile.duty_en %}<th>{% trans "Duty (English)" %}</th>{% endif %}
                            {% if profile.phone %}<th>{% trans "Phone" %}</th>{% endif %}
                            {% if profile.mobile %}<th>{% trans "Mobile" %}</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if profile.user.get_full_name %}<td>{{ profile.user.get_full_name }}</td>{% endif %}
                            {% if profile.user.email %}<td>{{ profile.user.email }}</td>{% endif %}
                            {% if profile.duty_tr %}<td>{{ profile.duty_tr }}</td>{% endif %}
                            {% if profile.duty_en %}<td>{{ profile.duty_en }}</td>{% endif %}
                            {% if profile.phone %}<td>{{ profile.phone }}</td>{% endif %}
                            {% if profile.mobile %}<td>{{ profile.mobile }}</td>{% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endblock %}
    </div>
{% endblock content %}
