{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content_title %}
<h2>{% trans "Signup" %}</h2>
<div>
{% url userena_signin as signin_url %}
{% blocktrans with signin_url as signin_url %}
    or <a href="{{ signin_url }}"><i>signin</i></a> with your account.
{% endblocktrans %}
</div>
<hr>
{% endblock content_title %}

{% block content %}
<form action="" method="post" class="form-horizontal" autocomplete="off">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{% trans "Signup"%}" />
    </div>
</form>
{% endblock content %}
