{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signed out" %}{% endblock %}
{% block content_title %}<h2>{% trans "You have been signed out" %}</h2>{% endblock %}

{% block content %}
<p>{% trans "Till we meet again" %}.</p>
<ul class="inline">
    {% if not user.is_authenticated %}
    <li><a href="{% url 'userena_signin' %}"><i class="icon-signin"></i> {% trans "Login" %}</a></li>
    <li><a href="{% url 'userena_signup' %}"><i class="icon-user"></i> {% trans "Signup" %}</a></li>
    {% endif %}
</ul>
{% endblock content %}
