<tr>
    <td>
        {% ifequal source current_source %}
        {{ source }}
        {% else %}
        <a href="{{ source.get_absolute_url }}" title="{{ source }}">{{ source }}</a>
        {% endifequal %}
    </td>
    <td>{{ source.isbn|default:"-" }}</td>
    <td>{% for author in source.authors.all %}{{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
    <td>
        <div class="pull-right">
            {% ifequal source.user request.user %}
            <a class="btn btn-link btn-small" href="{% url 'source_edit' slug=source.slug %}?next={{ request.path }}">
                <i class="icon-pencil"></i>
            </a>
            <a class="btn btn-link btn-small" href="{% url 'source_delete' slug=source.slug %}?next={{ request.path }}">
                <i class="icon-trash"></i>
            </a>
            {% endifequal %}
        </div>
    </td>
</tr>
