<tr>
    <td>
        {% ifequal source current_source %}
        {{ source }}
        {% else %}
        <a href="{{ source.get_absolute_url }}" title="{{ source }}">{{ source }}</a>
        {% endifequal %}
    </td>
    <td>{{ source.isbn|default:"-" }}</td>
    <td>{% for author in source.authors.all %}{{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
    <td>
        <div class="btn-group pull-right">
            {% ifequal source.user request.user %}
            <a class="btn" href="{% url source_edit slug=source.slug %}">
                <i class="icon-pencil"></i>
            </a>
            <a class="btn btn-danger" href="{% url source_delete slug=source.slug %}">
                <i class="icon-trash"></i>
            </a>
            {% endifequal %}
        </div>
    </td>
</tr>
