{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block sidebar %}
<legend>{% if form.instance.id %}{% trans "Update source" %}{% else %}{% trans "Add new source" %}{% endif %}</legend>
{% endblock sidebar %}

{% block content %}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            {# <a class="close" data-dismiss="alert">&times;</a> #}
            <strong>{% trans "Error!" %}</strong> {{ error }}
        </div>
        {% endfor %}
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        {% for field in form.visible_fields %}
        {{ field|bootstrap }}
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{% if source %}{{ source.get_absolute_url }}{% else %}{% url source_list %}{% endif %}" class="btn">{% trans "Cancel" %}</a>
        </div>
    </form>
    {% comment %}
    <a href="#new-author-modal" data-toggle="modal" class="btn btn-success">{% trans "New author" %}</a>
    <div class="modal fade" id="new-author-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{% trans "New Author" %}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" id="new-author-form">
            {% csrf_token %}
            {{ author_form|bootstrap }}
        </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary btn-new-author">{% trans "Save" %}</a>
            <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
        </div>
    </div>
    {% endcomment %}
{% endblock content %}

{% comment %}
{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(function() {

        $('.btn-new-author').on('click', function () {
            // remove errors
            $('.error').removeClass('error');
            $('.alert-error').remove();
            // submit data
            Dajaxice.authors.new(author_callback, {
                'form': $('#new-author-form').serialize()
            });
        });
        function author_callback(data) {
            if (!data.status) {
                if (data.errors) {
                    $('<div class="alert alert-error"><strong>{% trans "Error!" %}</strong></div>').insertBefore('#new-author-form')
                    for (error in data.errors) {
                        $('#div_id_' + error).addClass('error');
                    }
                    $('.alert').fadeIn('slow');
                }
            } else {
                $('#new-author-modal').modal('hide');
            }
        }
    });
</script>
{% endblock js %}
{% endcomment %}
