{% extends "base.html" %}
{% load i18n %}

{% block header_actions %}
<a class="btn btn-success" href="{% url source_add %}"><i class="icon-plus-sign "></i> {% trans "New Source" %}</a>
{% endblock header_actions %}

{% block content %}
<hr>
{% with current_source as source %}
<p>{% blocktrans with source as source %}Quotes from <i class="text-info">&ldquo; {{ source }} &rdquo;</i>{% endblocktrans %} :</p>
{% for quote in source_quotes %}
    {% include "quotes/quote_item.html" %}
{% empty %}
    {% trans "No quotes" %}
{% endfor %}
{% endwith %}
{% endblock content %}
