{% extends "base.html" %}
{% load i18n %}
{% load endless %}

{% block content %}
<a class="btn btn-success" href="{% url 'source_add' %}"><i class="icon-plus-sign "></i> {% trans "New Source" %}</a>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Source" %}</th>
            <th>{% trans "ISBN" %}</th>
            <th>{% trans "Authors" %}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% paginate sources %}
        {% for source in sources %}
        {% include "sources/source_item.html" %}
        {% endfor %}
    </tbody>
</table>
{% show_pages %}
{% endblock content %}
