{% load i18n %}
{% load compress %}
{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block headtitle %}Qnotes{% endblock headtitle %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Quotes &mp; Notes - Collaborative space for social reading">
    <meta name="author" content="">

    {# <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet"> #}
    {# <link href="//netdna.bootstrapcdn.com/bootswatch/2.1.1/cosmo/bootstrap.min.css" rel="stylesheet" type="text/css"/> #}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <!--[if eq IE 7]>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
    {% compress css %}
    {% block css %}
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient { filter: none; }
    </style>
    <![endif]-->
    {% endblock css %}
    {% endcompress css %}

    {% compress js %}
    {% block extrahead %}
    <script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.js"></script>
    {% endblock extrahead %}
    {% endcompress js %}
</head>
<body>
    <div class="container">
        {% include "site/navbar.html" %}
        <header class="lead main-header">
            <div class="row-fluid">
                <div class="pull-left">
                    <h1>
                        <a href="{% url quote_list %}">{% trans "Qnotes" %}</a>
                        &nbsp;<small>{% trans "Collaborative space for social reading" %}</small>
                    </h1>
                </div>
                <div class="pull-right">
                    {% block header_actions %}
                    {% endblock header_actions %}
                </div>
            </div>
        </header>
        {% block content_title %}
        {% endblock content_title %}
        {% block content %}
        <section class="row-fluid">
            <div class="span3">
                {% block sidebar %}
                {% endblock sidebar %}
            </div>
            <div class="span9">
                {% block inner_content %}
                {% endblock inner_content %}
            </div>
        </section>
        {% endblock content %}
        <hr>
        <footer class="row-fluid">
            <small>&copy; Qnotes {% now "Y" %}</small>
        </footer>
    </div>

    <!-- Javascript
    ================================================== -->
    {# <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script> #}
    {# <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.3.3/knockout.mapping.js"></script> #}
    {% block js %}
    {% dajaxice_js_import %}
    {% compress js %}
    <script src="{{ STATIC_URL }}js/vendor/bootstrap.js"></script>
    <script type="text/javascript">
        $(function () {
            $("[rel='tooltip']").tooltip();
        });
    </script>
    {% endcompress %}
    {% endblock js %}
</body>
</html>
