{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>Qnotes</h1>
<p class="lead">{% trans "Collaborative space for social reading" %}</p>
<ul class="inline">
    {% if not user.is_authenticated %}
    <li><a href="#"><i class="icon-signin"></i> {% trans "Login" %}</a></li>
    <li><a href="#"><i class="icon-user"></i> {% trans "Signup" %}</a></li>
    {% endif %}
</ul>
<script src="http://www.surveymonkey.com/jsEmbed.aspx?sm=h5fuqIcOI26SaY2FbLFr7A_3d_3d"> </script>
{% endblock content %}
