{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "brand.html" %}

{% if user.is_authenticated %}
<p>{% trans "Dear" %} {{ user.get_full_name }},<br>
{% trans "welcome back." %}</p>
{% else %}
<a class="btn btn-primary" href="{% url 'auth_login' %}"><i class="icon-signin"></i> {% trans "Login" %}</a>
<a class="btn btn-info" href="{% url 'registration_register' %}"><i class="icon-user"></i> {% trans "Signup" %}</a>
<a class="btn btn-link" href="{% url 'socialauth_begin' 'twitter' %}?{{ request.path }}"><i class="icon-twitter"></i> {% trans "Login with Twitter" %}</a>
{# <a class="btn btn-link" href="{% url 'socialauth_begin' 'facebook' %}?{{ request.path }}"><i class="icon-facebook"></i> {% trans "Login with Facebook" %}</a> #}
<a class="btn btn-link" href="{% url 'auth_password_reset' %}">{% trans "Forget your password?" %}</a>
{% endif %}

<div class="modal fade" id="survey-launch-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        {% if user.is_authenticated %}
        <h3>{% trans "Dear" %} {{ user.get_full_name }}</h3>
        {% else %}
        <h3>{% trans "Hi there" %}</h3>
        {% endif %}
    </div>
    <div class="modal-body">
        <p>{% trans "Please take your time and answer our mini survey." %}</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" href="{% url 'survey' %}">{% trans "Take the survey" %}</a>
    </div>
</div>
<hr>
{% endblock content %}

{% block js %}
{{ block.super }}
<script>
    $(function () {
        $('#survey-launch-modal').modal();
    });
</script>
{% endblock js %}
