html, body {
    height:100%
}
body                        { padding-top: 0; background: url('../img/grid.png') left top repeat-x; }
a, a:hover                  { text-decoration: none; }
ul.unstyled li.active a     { color: gray; }
footer                      { padding-bottom: 80px; }

.main-header small {
    color: @grayDark;
    font-weight: 300;
}
#hint_id_sources,
#hint_id_members            { display: none; }

.container > .navbar {
    margin-bottom: 0;
}
.asteriskField {
    display: none;
}
.container-narrow {
    margin: 0 auto;
    max-width: 720px;
    padding: 27px 10px;
    // background-color: @white;
    #gradient > .vertical(darken(@white, 2%), darken(@white, 1%));
    height: 100%;
}
.container-narrow > .inner {
    margin-top: 21px;
}
blockquote {
    background: transparent;
}
/*
// Hide spam-protection field in comment form
#div_id_honeypot, #id_honeypot {
    display: none;
}
*/
