@innerPadding: 20px;

html, body {
    height:100%
}
a, a:hover                  { text-decoration: none; }
ul.unstyled li.active a     { color: gray; }
footer                      { padding-bottom: 80px; }

.main-header small {
    color: @grayDark;
    font-weight: 300;
}
#hint_id_sources,
#hint_id_members            { display: none; }

.container > .navbar {
    margin-bottom: 0;
}

.container-narrow {
    margin: 0 auto;
    max-width: 840px;
    #gradient > .vertical(darken(@white, 4%), darken(@white, 8%));
    border: 1px solid darken(@white, 10%);
    @shadow: 0 0 60px darken(@white, 20%);
    .box-shadow(@shadow);
    height: 100%;
}
.container-narrow > .navbar > .navbar-inner {
    background: transparent;
    padding: @innerPadding;
    border: none;
}
.container-narrow > .inner {
    margin-top: 0;
    padding: 0 @innerPadding;
}
blockquote {
    background: @white;
}
.asteriskField {
    display: none;
}
.form-actions {
    #gradient > .vertical(darken(@white, 4%), darken(@white, 8%));
    border: 1px solid @grayLight;
}
footer {
    padding: @innerPadding;
}
/*
// Hide spam-protection field in comment form
#div_id_honeypot, #id_honeypot {
    display: none;
}
*/
