{% extends "base.html" %}
{% load i18n %}
{% load comments %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}

{% endblock css %}

{% block content %}
{% with current_quote as quote %}
{% include "quotes/quote_item.html" %}
{% if not quote.is_private %}
{% comment %}
<form class="form-horizontal" action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
        <input type="hidden" name="next" value="{% url quote_detail pk=quote.pk %}" />
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    </div>
</form>
{% endcomment %}
{% endif %}
{% endwith %}
{% endblock content %}

{% block js %}
{{ block.super }}

{% endblock js %}
