{% load i18n %}
<small class="row-fluid btn-group btn-group-verticals">
    <a class="btn btn-mini" href="{{ quote.get_absolute_url }}">
        <i class="icon-info-sign"></i>
        {# {% trans "details" %} #}
    </a>
    <a class="btn btn-mini" href="javascript://">
        <i class="icon-share-alt"></i>
        {# {% trans "re-quote" %} #}
    </a>
    <a class="btn btn-mini" href="javascript://">
        <i class="icon-share"></i>
        {# {% trans "share" %} #}
    </a>
    {% if user.is_authenticated and user == quote.user %}
    <a class="btn btn-mini" href="{% url quote_edit pk=quote.pk %}">
        <i class="icon-pencil"></i>
        {# {% trans "edit" %} #}
    </a>
    <a class="btn btn-mini" href="{% url quote_delete pk=quote.pk %}">
        <i class="icon-trash"></i>
        {# {% trans "delete" %} #}
    </a>
    {% endif %}
</small>
