{% load i18n %}
{% load comments %}

<div class="btn-group pull-right">
    {# <button class="btn btn-mini btn-inverse" data-toggle="collapse" data-parent="#quote-list" href="#quote-{{ quote.id }}"><i class="icon-chevron-down"></i></button> #}
    <a class="btn btn-inverse" href="{{ quote.get_absolute_url }}"><i class="icon-eye-open" title="{% trans "Details" %}" rel="tooltip"></i></a>
    {% if not quotes %}
    <button class="btn btn-success" data-toggle="collapse" data-parent="#quote-list" href="#comments-{{ quote.id }}"><i class="icon-comments"></i></button>
    {% endif %}
    <a class="btn btn-info" href="{% url quote_edit pk=quote.pk %}">
        <i class="icon-pencil"></i>
    </a>
    <a class="btn btn-danger" href="{% url quote_delete pk=quote.pk %}">
        <i class="icon-trash"></i>
    </a>
</div>
<blockquote>
    <i class="icon-quote-left"></i>
    <i>{{ quote }}</i>
    <i class="icon-quote-right"></i>
</blockquote>

{% if quote.note %}
<div class="row-fluid text-warning">
    <small><i class="icon-comment"></i> {{ quote.note }}</small>
</div>
<br>
{% endif %}
<strong>
    <i class="icon-eye-{% if quote.is_private %}close{% else %}open{% endif %}"></i>
    {{ quote.user }}
</strong>
<small>({% if quote.is_private %}{% trans "Private Quotation" %}{% else %}{% trans "Public Quotation" %}{% endif %})</small>
<br>
<strong>{% trans "Source" %}:</strong> <a href="{{ quote.source.get_absolute_url }}">{{ quote.source }}</a>
<div class="row-fluid">
    <strong>{% trans "Topics" %}:</strong>
    {% for topic in quote.topics.all %}
    <a href="{{ topic.get_absolute_url }}">{{ topic }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</div>
{% ifequal quote.user request.user %}
<br>
{% endifequal %}
{% if not quotes %}
<div id="comments-{{ quote.id }}" class="row-fluid collapse">
    {% render_comment_list for quote %}
    {% render_comment_form for quote %}
</div>
{% endif %}
{% if forloop and not forloop.last %}<hr>{% endif %}
