{% extends "base.html" %}
{% load i18n %}
{% load endless %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
{% endblock css %}

{% block sidebar %}
    <h4>{% trans "Your private quotes" %}</h4>
    <hr>
    {% if private_quotes.0 %}
    <ul class="nav nav-pills">
    {% for quote in private_quotes %}
        <li><a href="{{ quote.get_absolute_url }}"><i class="icon-eye-close"></i> {{ quote }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    {% trans "You have no private quotes." %}
    {% endif %}
{% endblock sidebar %}
{% block inner_content %}
    <a class="btn btn-success btn-large pull-right" href="{% url quote_add %}"><i class="icon-plus-sign icon-large"></i> {% trans "New Quote" %}</a>
    <h4>{% trans "Timeline" %}</h4>
    <hr>
    {% paginate 5 quotes %}
    <div id="quote-list">
        {% for quote in quotes %}
            {% include "quotes/quote_item.html" %}
        {% endfor %}
    </div>
    {% show_pages %}
{% endblock inner_content %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
{% endblock js %}
