{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load threadedcomments_tags %}

{% block css %}
{{ block.super }}

{% endblock css %}

{% block content %}

{% include "quotes/quote_item.html" %}

{% comment %}
<form class="form-horizontal" action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
        <input type="hidden" name="next" value="{% url quote_detail pk=quote.pk %}" />
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    </div>
</form>
{% endcomment %}
<hr>
<h2>{% blocktrans with quote as quote %}Comments for {{ quote }}{% endblocktrans %}</h2>
{% render_comment_list for object %}
{% render_comment_form for object %}

{% endblock content %}

{% block js %}
{{ block.super }}

{% endblock js %}
