{% load i18n %}
{% load socialaccount %}

{% for provider in socialaccount.providers %}
<li>
    <a title="{{ provider.name }}" class="btn {% ifequal provider.id 'twitter'  %} btn-info{% endifequal %}{% ifequal provider.id 'facebook'  %} btn-primary{% endifequal %} btn-block" href="{% provider_login_url provider.id %}">
        <i class="icon-{{ provider.id }}"></i>{% blocktrans with provider.name as provider_name %}
            Connect with {{ provider_name }}
        {% endblocktrans %}
    </a>
</li>
{% endfor %}
