{% load i18n %}
{% load socialaccount %}

<ul class="unstyled nav-social">
    <li>
        <a class="btn btn-inverse btn-block" href="{{ signup_url }}">
            <i class="icon-user"></i>
            {% trans "Signup for a new account" %}
        </a>
    </li>
    <li>
        <a title="Twitter" class="btn btn-info btn-block" href="{% provider_login_url "twitter" %}">
            <i class="icon-twitter"></i> {% trans "Connect with Twitter" %}
        </a>
    </li>
    <li>
        <a title="Facebook" class="btn btn-primary btn-block" href="{% provider_login_url "facebook" method="js_sdk" %}">
            <i class="icon-facebook"></i> {% trans "Connect with Facebook" %}
        </a>
    </li>
</ul>
