{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load disqus_tags %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block headextra %}
{% if not quote.is_private %}
{{ block.super }}
{% disqus_dev %}
{% set_disqus_developer 1 %}
{% set_disqus_identifier "quote_" quote.id %}
{% set_disqus_url quote.get_absolute_url %}
{% set_disqus_title "Quote Discussion" quote.quote %}
{% endif %}
{% endblock headextra %}

{% block content %}

{% include "quotes/quote_item.html" %}
<hr>

{% if not quote.is_private %}
{% disqus_show_comments "qnotes" %}
{% endif %}
{% endblock content %}

{% block js %}
{{ block.super }}
{% endblock js %}
