{% extends "base.html" %}
{% load i18n %}
{% load endless %}
{% load humanize %}
{% load disqus_tags %}

{% block headextra %}
{{ block.super }}
{% disqus_dev %}
{% set_disqus_developer 1 %}
{% endblock headextra %}

{% block header_actions %}
<a class="btn btn-success btn-large" href="{% url quote_add %}"><i class="icon-plus-sign icon-large"></i> {% trans "New Quote" %}</a>
{% endblock header_actions %}

{% block content %}
    <hr>
    {% paginate 10 quotes %}
    {% for quote in quotes %}
        {% if forloop.counter0|divisibleby:"2" %}<div class="row-fluid">{% endif %}
        <div class="span6">
            {% include "quotes/quote_item.html" %}
        </div>
        {% if forloop.last or forloop.counter|divisibleby:"2" %}</div>{% endif %}
    {% empty %}
        <p class="alert alert-info">{% trans "No quotes" %}</p>
    {% endfor %}
    {% show_pages %}
{% endblock content %}
