{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load disqus_tags %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block headextra %}
{% ifequal quote.privacy_state PRIVACY_STATES.0.0 %}
{{ block.super }}
{% disqus_dev %}
{% set_disqus_developer 1 %}
{% set_disqus_identifier "quote_" quote.id %}
{% set_disqus_url quote.get_absolute_url %}
{% set_disqus_title "Quote Discussion" quote.quote %}
{% endifequal %}
{% endblock headextra %}

{% block content %}
{% include "quotes/quote_item.html" %}
{% ifequal quote.privacy_state PRIVACY_STATES.0.0 %}
{% disqus_show_comments "qnotes" %}
{% endifequal %}
{% endblock content %}

{% block js %}
{{ block.super }}
{% endblock js %}
