{% load i18n %}
{% load humanize %}

<div class="row-fluid">
    <blockquote>
        {% autoescape off %}<i class="icon-quote-left"></i> <i>{{ quote }}</i> <i class="icon-quote-right"></i>{% endautoescape %}
    </blockquote>
    <br>
    <div class="pull-left">
        <a class="btn btn-link" href="{% url userena_profile_detail username=quote.user.username %}">
            <img src="{{ quote.user.get_profile.get_mugshot_url }}" alt="{{ quote.user }}" title="{{ quote.user }}" rel="tooltip">
        </a>
    </div>

    <div class="pull-left">
        {% if quote.notes.0 %}
            {% for note in quote.notes %}
                {# Text #}
                {% if note.media_type == 1 %}
                    <small><i class="icon-comment"></i> {{ quote.note }}</small>
                {% endif %}

                {# Voice #}
                {% if note.media_type == 2 %}
                    <a class="btn btn-warning"><i class="icon-play"></i></a>
                {% endif %}

                {# Video #}
                {% if note.media_type == 3 %}
                {% endif %}
            {% empty %}
                {% trans "No related notes" %}
            {% endfor %}
        {% endif %}
    </div>

    {% if quote.user == request.user %}
    <div class="btn-group pull-right">
        {% if quotes %}
        <a class="btn btn-link" href="{{ quote.get_absolute_url }}">
            <i class="icon-comments"></i>
            {{ quote.get_privacy_state_display }}
        </a>
        {% endif %}
        <a class="btn btn-link" href="{% url quote_edit slug=quote.slug %}">
            <i class="icon-pencil"></i>
        </a>
        <a class="btn btn-link" href="{% url quote_delete slug=quote.slug %}">
            <i class="icon-trash"></i>
        </a>
    </div>
    {% endif %}

    {% for state in PRIVACY_STATES %}
        {% ifequal quote.privacy_state state %}
            <p class="{% cycle 'text-info' 'text-warning' 'text-error' %}" href="{{ quote.get_absolute_url }}">
                <i class="icon-comments"></i>
                {{ quote.get_privacy_state_display }}
            </p>
        {% endifequal %}
    {% endfor %}

    <div class="clearfix">
        <div class="meta">
            <strong>{% trans "Source" %}:</strong> <a href="{{ quote.source.get_absolute_url }}">{{ quote.source }}</a>
            {% if quote.topics %}
                <br>
                <strong>{% trans "Topics" %}:</strong>
                {% for topic in quote.topics.all %}
                <a href="{{ topic.get_absolute_url }}">{{ topic }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                <br>
            {% endif %}
            <small>{{ quote.created_at|naturaltime }}</small>
        </div>
    </div>
</div>
{% if not forloop.last %}
<hr>
{% endif %}
