{% load i18n %}
{% load humanize %}

<blockquote>
    {% autoescape off %}<i class="icon-quote-left"></i> <i>{{ quote }}</i> <i class="icon-quote-right"></i>{% endautoescape %}
</blockquote>
<div class="row-fluid">
    <div class="pull-left">
        <a class="btn btn-link" href="{% url userena_profile_detail username=quote.user.username %}" title="{{ quote.user }}" rel="tooltip">
            <img src="{{ quote.user.get_profile.get_mugshot_url }}" alt="{{ quote.user }}">
        </a>
    </div>
    <div class="pull-left">
        <strong>{% trans "Source" %}:</strong> <a href="{{ quote.source.get_absolute_url }}">{{ quote.source }}</a>
        {# Tags #}
        {% if quote.tags.count > 0 %}
            <br>
            <strong>{% trans "Tags" %}:</strong>
            {% for tag in quote.tags.all %}
            <span class="badge badge-info">{{ tag }}</span>
            {% endfor %}
        {% endif %}
    </div>
    <div class="pull-right">
        <div class="btn-group">
            {% if quotes %}
            <a class="btn btn-link" href="{{ quote.get_absolute_url }}" title="{{ quote.get_privacy_state_display }}" rel="tooltip">
                {% if quote.privacy_state == 1 %}
                <i class="icon-comments-alt"></i>
                {% elif quote.privacy_state == 2 %}
                <i class="icon-eye-open"></i>
                {% elif quote.privacy_state == 3 %}
                <i class="icon-eye-close"></i>
                {% endif %}
            </a>
            {% endif %}
            {% if quote.user == request.user %}
            <a class="btn btn-link" href="{% url quote_edit slug=quote.slug %}" title="{% trans "Edit" %}" rel="tooltip">
                <i class="icon-pencil"></i>
            </a>
            <a class="btn btn-link" href="{% url quote_delete slug=quote.slug %}" title="{% trans "Delete" %}" rel="tooltip">
                <i class="icon-trash"></i>
            </a>
            {% endif %}
        </div>
    </div>
    {% comment %}
    <div class="span8">
        {% if quote.notes.0 %}
            {% for note in quote.notes %}
                {# Text #}
                {% if note.media_type == 1 %}
                    <small><i class="icon-comment"></i> {{ quote.note }}</small>
                {% endif %}

                {# Voice #}
                {% if note.media_type == 2 %}
                    <a class="btn btn-warning"><i class="icon-play"></i></a>
                {% endif %}

                {# Video #}
                {% if note.media_type == 3 %}
                {% endif %}
            {% empty %}
                {% trans "No related notes" %}
            {% endfor %}
        {% endif %}
    </div>
    {% endcomment %}
</div>
<br>
<small class="muted"><i class="icon-time"></i> {{ quote.created|naturaltime }}</small>
{% if not forloop.last %}
<hr>
{% endif %}
