{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row-fluid">
        <div class="span2">
            <a class="spr spr-icon-bookmark-plus" href="{% url 'quote_add' %}"
            title="{% trans "New Quote" %}" rel="tooltip">
                {% trans "New Quote" %}
            </a>
        </div>
        <div class="span10">
            {% include page_template %}
        </div>
    </div>
    <hr>
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script type="text/javascript">
    $(function () {
        $('body').tooltip({
            selector: '[rel=tooltip]'
        });
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 20
        });
    });
</script>
{% endblock js %}
