{% extends "base.html" %}
{% load i18n %}

{% block css %}
{{ block.super }}
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet" type="text/css"/>
<style>
    .select2-container {
        width:284px;
    }
</style>
{% endblock css %}

{% block extrahead %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/select2.js"></script>
<script src="{{ STATIC_URL }}js/heavy_data.js"></script>
{% endblock extrahead %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    // $(function() {
    //     $('#id_tags').select2({
    //         tags: $('#id_tags').val(),
    //         tokenSeparators: [','],
    //     })
    // });
</script>
{% endblock js %}
