{% extends "base.html" %}
{% load i18n %}
{% load endless %}
{% load thumbnail %}
{% load gravatar %}

{% block content_title %}
<div class="row-fluid">
    <div class="span8 pull-left">
        <h3><i class="icon-folder-open"></i> {{ current_collection }}</h3>
        {% ifequal current_collection.user request.user %}
        <div class="pull-left">
            <a href="{% url 'collection_edit' slug=current_collection.slug %}?next={{ request.path }}" title="{% trans "Edit" %}" rel="tooltip">
                <i class="icon-pencil"></i>
            </a>
            <a href="{% url 'collection_delete' slug=current_collection.slug %}" title="{% trans "Delete" %}" rel="tooltip">
                <i class="icon-trash"></i>
            </a>
        </div>
        {% endifequal %}
    </div>
    <div class="span4">
        <h4>{% trans "Members" %}:</h4>
        {% for member in current_collection.members.all %}
            <a href="#" title="{{ member }}" rel="tooltip">
                {% if member.avatar %}
                <img src="{{ member.avatar|thumbnail_url:'avatar' }}" alt="{{ member }}">
                {% else %}
                {% gravatar member.email 31 member.username %}
                {% endif %}
            </a>
        {% endfor %}
    </div>
</div>
{% endblock content_title %}

{% block content %}
{% with collection_sources as sources %}
<hr>
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Source" %}</th>
            <th>{% trans "ISBN" %}</th>
            <th>{% trans "Authors" %}</th>
        </tr>
    </thead>
    <tbody>
        {% paginate sources %}
        {% for source in sources %}
        {% include "sources/source_item.html" %}
        {% endfor %}
    </tbody>
</table>
{% show_pages %}
<div class="form-actions">
    <a class="btn btn-success" href="{% url 'source_add' %}?next={{ request.path }}"><i class="icon-plus-sign"></i> {% trans "Add Source" %}</a>
    <a class="btn btn-success" href="{% url 'author_add' %}?next={{ request.path }}"><i class="icon-plus-sign"></i> {% trans "Add Author" %}</a>
</div>
{% endwith %}
{% endblock content %}
