{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span5">
        <legend>{% trans "Change Password" %}</legend>
        <p>{% trans "Please change your current password by filling the form." %}</p>
    </div>
    <div class="span7">
        <form method="POST" action="" class="form-inline">
            {% csrf_token %}
            {{ password_change_form|bootstrap }}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            <div class="form-actions">
                <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
