{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
<h3>{% trans "Request invitation" %}</h3>
<p>{% trans "We are contstanly improving our beta system and we are very impatient to meet with you." %}</p>
<p>{% trans "Enter your email address and we'll send you an invite soon!" %}</p>
<p>{% trans "Take care." %}</p>
<form action="{% url privatebeta_invite %}" method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}">
    </div>
</form>
{% endblock content %}
