{% extends "base.html" %}
{% load i18n %}
{% load endless %}

{% block header_actions %}
<a class="btn btn-success" href="{% url 'author_add' %}"><i class="icon-plus-sign "></i> {% trans "New Author" %}</a>
{% endblock header_actions %}

{% block content %}
<hr>
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        {% paginate authors %}
        {% for author in authors %}
            <tr>
                <td><a href="{{ author.get_absolute_url }}">{{ author|truncatechars:35 }}</a></td>
                <td>
                    {% ifequal author.user request.user %}
                    <div class="pull-right">
                        <a class="btn btn-link btn-small" href="{% url 'author_edit' slug=author.slug %}">
                            <i class="icon-pencil"></i>
                        </a>
                        <a class="btn btn-link btn-small" href="{% url 'author_delete' slug=author.slug %}">
                            <i class="icon-trash"></i>
                        </a>
                    </div>
                    {% endifequal %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% show_pages %}
{% endblock content %}
